.container {
    display: flex;
    justify-content: space-around;
   background-color: aqua;
}

.style {
    color: orange;
   font-family:Georgia, 'Times New Roman', Times, serif
}

.center {
    display: flex;
    justify-content: center;
}

.style2 {
    font-family:'Franklin Gothic Medium', }


