
   
/* Nav bar styling for portrait view */


    nav div ul {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        list-style: none;
    
    }

   .orange {
    color: orange;
    display: flex;
    justify-content: center;
    font-style: italic;
   }
  
   